body{
	background-color: #0dcecb;
}
.test_div_1{
	height: 100px;
	width: 100px;
	background: aquamarine url("../images/logo.jpg") no-repeat scroll center center/80% content-box content-box;
}
/**
 * 对待一个css 属性
 * 1. 默认值/初始值
 * 2. 取值：百分数(相对哪个属性计算) || 长度值
 * 3. 应用场景
 * 4. 继承性
 *
 * 百分比的计算方法：x=(容器宽度-背景图片宽度)*百分数
 */
.test_div_2{
	height: 150px;
	width: 300px;
	border: 5px solid green;
	background: white url(../images/test.png) no-repeat scroll 100%;
/*	background-color: white;
	background-image: url(../images/test.png);
	background-repeat: no-repeat;
	background-position: 100% ;
*/}

/*加载中*/
.loader{
	font-size: 10px;
	margin: 30% auto;
	text-indent: -9999em;
	width: 11em;
	height: 11em;
	border-radius: 50%;
	background: #0dcecb;
	/*background: -webkit-liner-gradient(left,#ffffff 10%,rgba(255,255,255,0) 42%);*/
	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
}

.loader::before{
	width: 50%;
	height: 50%;
	background: #FFF;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}

.loader:after {
	background: #0dcecb;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@-webkit-keyframes load3{
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}